In [1]:
import pandas as pd
import numpy as np
import plotly.plotly as py

In [2]:
import plotly
from plotly.offline import init_notebook_mode
import plotly.graph_objs as go
init_notebook_mode(connected=True)

In [3]:
file = "VHA_Center.csv"
file1 = 'veteran_suicides_2005-2011.csv'
file2 = '50_usstates_data.csv'

In [4]:
vet_df = pd.read_csv(file1)
state_df = pd.read_csv(file2)

In [5]:
vh_df = pd.read_csv(file,  encoding = "ISO-8859-1")

In [6]:
merge_df = pd.merge(state_df, vh_df, how = 'outer', on='state abbreviation')
merge_df.shape

(188, 10)

In [7]:
vhacountdf = merge_df.groupby(['state']).count()
vhacount_df = vhacountdf.reset_index()
vhacount_df

,state,statename,state abbreviation,states,lat,lon,StationID,Facility,Address,Phone
0,Alabama,4,4,4,4,4,4,4,4,4
1,Alaska,1,1,1,1,1,1,1,1,1
2,Arizona,3,3,3,3,3,3,3,3,3
3,Arkansas,3,3,3,3,3,3,3,3,3
4,California,10,10,10,10,10,10,10,10,10
5,Colorado,2,2,2,2,2,2,2,2,2
6,Connecticut,3,3,3,3,3,3,3,3,3
7,Delaware,1,1,1,1,1,1,1,1,1
8,Florida*,10,10,10,10,10,9,9,10,9
9,Georgia,3,3,3,3,3,3,3,3,3
10,Hawaii,1,1,1,1,1,1,1,1,1
11,Idaho,1,1,1,1,1,1,1,1,1
12,Illinois,5,5,5,5,5,5,5,5,5
13,Indiana,4,4,4,4,4,4,4,4,4
14,Iowa,2,2,2,2,2,2,2,2,2
15,Kansas,3,3,3,3,3,3,3,3,3
16,Kentucky,4,4,4,4,4,4,4,4,4
17,Louisiana,5,5,5,5,5,4,4,5,3
18,Maine,1,1,1,1,1,1,1,1,1
19,Maryland,4,4,4,4,4,4,4,4,4
20,Massachusetts,6,6,6,6,6,6,6,6,6
21,Michigan,5,5,5,5,5,5,5,5,5
22,Minnesota,2,2,2,2,2,2,2,2,2
23,Mississippi,2,2,2,2,2,2,2,2,2
24,Missouri***,6,6,6,6,6,6,6,6,6
25,Montana,1,1,1,1,1,1,1,1,1
26,Nebraska,2,2,2,2,2,2,2,2,2
27,Nevada,2,2,2,2,2,2,2,2,2
28,New Hampshire,1,1,1,1,1,1,1,1,1
29,New Jersey,3,3,3,3,3,3,3,3,3
30,New Mexico,1,1,1,1,1,1,1,1,1
31,New York,15,15,15,15,15,15,15,15,14
32,North Carolina,4,4,4,4,4,4,4,4,4
33,North Dakota**,1,1,1,1,1,1,1,1,1
34,Ohio,5,5,5,5,5,5,5,5,5
35,Oklahoma,2,2,2,2,2,2,2,2,2
36,Oregon,3,3,3,3,3,3,3,3,3
37,Pennsylvania,10,10,10,10,10,10,10,10,10
38,Rhode Island,1,1,1,1,1,1,1,1,1
39,South Carolina,2,2,2,2,2,2,2,2,2
40,South Dakota,3,3,3,3,3,3,3,3,3
41,Tennessee,6,6,6,6,6,5,5,6,5
42,Texas,12,12,12,12,12,12,12,12,12
43,Utah,1,1,1,1,1,1,1,1,1
44,Vermont,2,2,2,2,2,1,1,2,1
45,Virginia,3,3,3,3,3,3,3,3,3
46,Washington,6,6,6,6,6,6,6,6,6
47,West Virginia,4,4,4,4,4,4,4,4,4
48,Wisconsin,3,3,3,3,3,3,3,3,3
49,Wyoming,2,2,2,2,2,2,2,2,2

In [8]:
merge_df = pd.merge(vet_df, vhacount_df, how = 'outer', on='state')
merge_df.head()

,Unnamed: 0,state,vet_pop_2005,overall_pop_18_2005,vet_pop_p_2005,vet_suicides_2005,all_suicides_2005,vet_suicides_p_2005,vet_pop_2006,overall_pop_18_2006,...,vet_suicides_p_2011,statename,state abbreviation,states,lat,lon,StationID,Facility,Address,Phone
0,0,Alabama,403950,3344721,0.120772,135,535,0.252336,408917,3473558,...,0.239706,4,4,4,4,4,4,4,4,4
1,1,Alaska,74482,446969,0.166638,24,131,0.183206,70067,478581,...,0.190141,1,1,1,1,1,1,1,1,1
2,2,Arizona,538880,4238996,0.127124,225,945,0.238095,558906,4521911,...,0.221815,3,3,3,3,3,3,3,3,3
3,3,Arkansas,259304,2023819,0.128126,81,400,0.202500,258170,2110583,...,0.199105,3,3,3,3,3,3,3,3,3
4,4,California,2193336,25543447,0.085867,633,3206,0.197442,2142367,26789221,...,0.179964,10,10,10,10,10,10,10,10,10

In [9]:
merge_df.shape

(50, 53)

In [10]:
merge_df.columns

Index(['Unnamed: 0', 'state', 'vet_pop_2005', 'overall_pop_18_2005',
       'vet_pop_p_2005', 'vet_suicides_2005', 'all_suicides_2005',
       'vet_suicides_p_2005', 'vet_pop_2006', 'overall_pop_18_2006',
       'vet_pop_p_2006', 'vet_suicides_2006', 'all_suicides_2006',
       'vet_suicides_p_2006', 'vet_pop_2007', 'overall_pop_18_2007',
       'vet_pop_p_2007', 'vet_suicides_2007', 'all_suicides_2007',
       'vet_suicides_p_2007', 'vet_pop_2008', 'overall_pop_18_2008',
       'vet_pop_p_2008', 'vet_suicides_2008', 'all_suicides_2008',
       'vet_suicides_p_2008', 'vet_pop_2009', 'overall_pop_18_2009',
       'vet_pop_p_2009', 'vet_suicides_2009', 'all_suicides_2009',
       'vet_suicides_p_2009', 'vet_pop_2010', 'overall_pop_18_2010',
       'vet_pop_p_2010', 'vet_suicides_2010', 'all_suicides_2010',
       'vet_suicides_p_2010', 'vet_pop_2011', 'overall_pop_18_2011',
       'vet_pop_p_2011', 'vet_suicides_2011', 'all_suicides_2011',
       'vet_suicides_p_2011', 'statename', 'state abbreviation', 'states',
       'lat', 'lon', 'StationID', 'Facility', 'Address', 'Phone'],
      dtype='object')

In [11]:
#deleting the unnamed column -cleaning 
del merge_df['Unnamed: 0']
merge_df.shape

(50, 52)

In [12]:
#Vet suicide Calculation 


merge_df1 = merge_df.set_index('state')
merge_df1.shape

(50, 51)

In [13]:
vet_suicideratelist = []
vetpopulationlist = []
statelist= []
state_c = []
vhcenterslist = []

In [14]:
for index,row in merge_df1.iterrows():
    print(row[48])
    print(index)
    #Overall population from 2005 to 2011 satewise
    overallpop = (row[1] + row[7]+ row[13] + row[19] +row[25] + row[31] + row[37])
    vetpop = (row[0] + row[6] + row[12] + row[18] + row[24] + row[30] + row[36])
    
    vet_suicide = (row[3] + row[9]+ row[15]+ row[21]+row[27]+row[33]+row[39])
    
    vet_suiciderate = round((vet_suicide / vetpop) *100000, 2)
    facilityc = row[48]
    
    vetpopulationlist.append(vetpop)
    vet_suicideratelist.append(vet_suiciderate)
    statelist.append(index)
    vhcenterslist.append(facilityc)
    
print(vet_suicideratelist)
print(vetpopulationlist)
print(statelist)
print(len(vhcenterslist))

4.0
Alabama
1.0
Alaska
3.0
Arizona
3.0
Arkansas
10.0
California
2.0
Colorado
3.0
Connecticut
1.0
Delaware
9.0
Florida*
3.0
Georgia
1.0
Hawaii
1.0
Idaho
5.0
Illinois
4.0
Indiana
2.0
Iowa
3.0
Kansas
4.0
Kentucky
4.0
Louisiana
1.0
Maine
4.0
Maryland
6.0
Massachusetts
5.0
Michigan
2.0
Minnesota
2.0
Mississippi
6.0
Missouri***
1.0
Montana
2.0
Nebraska
2.0
Nevada
1.0
New Hampshire
3.0
New Jersey
1.0
New Mexico
15.0
New York
4.0
North Carolina
1.0
North Dakota**
5.0
Ohio
2.0
Oklahoma
3.0
Oregon
10.0
Pennsylvania
1.0
Rhode Island
2.0
South Carolina
3.0
South Dakota
5.0
Tennessee
12.0
Texas
1.0
Utah
1.0
Vermont
3.0
Virginia
6.0
Washington
4.0
West Virginia
3.0
Wisconsin
2.0
Wyoming
[37.11, 41.1, 42.55, 36.38, 33.73, 44.27, 18.95, 21.99, 36.78, 26.58, 20.06, 49.31, 25.45, 28.97, 29.21, 37.19, 22.0, 31.17, 30.97, 20.14, 12.17, 31.53, 27.74, 35.73, 35.35, 55.8, 13.83, 50.47, 29.45, 17.47, 47.38, 21.07, 30.46, 37.85, 28.55, 38.39, 43.46, 30.25, 23.09, 32.63, 35.31, 35.18, 30.2, 43.85, 26.78, 25.86, 36.84, 39.42, 32.92, 47.04]
[2815973.0, 501260.0, 3800273.0, 1742827.0, 14272129.0, 2845970.0, 1677856.0, 541079.0, 11609819.0, 4961578.0, 797723.0, 902423.0, 5527660.0, 3396645.0, 1694473.0, 1581223.0, 2294993.0, 2223595.0, 955897.0, 3157395.0, 2966674.0, 5090187.0, 2740065.0, 1471995.0, 3564834.0, 693560.0, 1041313.0, 1608842.0, 849003.0, 3418179.0, 1228404.0, 7135025.0, 5154427.0, 385726.0, 6490513.0, 2274128.0, 2392865.0, 7153473.0, 554293.0, 2780053.0, 495659.0, 3502153.0, 11275313.0, 1049061.0, 373441.0, 5212872.0, 4261915.0, 1171915.0, 3046537.0, 367740.0]
['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado', 'Connecticut', 'Delaware', 'Florida*', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi', 'Missouri***', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico', 'New York', 'North Carolina', 'North Dakota**', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming']
50

In [15]:
# need have state abbrevation column for the map ploting 
state_df['state abbreviation']

0     AL
1     AK
2     AZ
3     AR
4     CA
5     CO
6     CT
7     DE
8     FL
9     GA
10    HI
11    ID
12    IL
13    IN
14    IA
15    KS
16    KY
17    LA
18    ME
19    MD
20    MA
21    MI
22    MN
23    MS
24    MO
25    MT
26    NE
27    NV
28    NH
29    NJ
30    NM
31    NY
32    NC
33    ND
34    OH
35    OK
36    OR
37    PA
38    RI
39    SC
40    SD
41    TN
42    TX
43    UT
44    VT
45    VA
46    WA
47    WV
48    WI
49    WY
Name: state abbreviation, dtype: object

In [16]:
#list to dataframe
new_df = pd.DataFrame({'statelist':statelist, 'vet_suicideratelist':vet_suicideratelist, 'vetpopulationlist' : vetpopulationlist, 'vha centerslist': vhcenterslist, 'st_code' : state_df['state abbreviation']})

In [17]:
#order new df 
new_df = new_df[['st_code','statelist', 'vet_suicideratelist','vetpopulationlist','vha centerslist']]
new_df

,st_code,statelist,vet_suicideratelist,vetpopulationlist,vha centerslist
0,AL,Alabama,37.11,2815973.0,4.0
1,AK,Alaska,41.10,501260.0,1.0
2,AZ,Arizona,42.55,3800273.0,3.0
3,AR,Arkansas,36.38,1742827.0,3.0
4,CA,California,33.73,14272129.0,10.0
5,CO,Colorado,44.27,2845970.0,2.0
6,CT,Connecticut,18.95,1677856.0,3.0
7,DE,Delaware,21.99,541079.0,1.0
8,FL,Florida*,36.78,11609819.0,9.0
9,GA,Georgia,26.58,4961578.0,3.0
10,HI,Hawaii,20.06,797723.0,1.0
11,ID,Idaho,49.31,902423.0,1.0
12,IL,Illinois,25.45,5527660.0,5.0
13,IN,Indiana,28.97,3396645.0,4.0
14,IA,Iowa,29.21,1694473.0,2.0
15,KS,Kansas,37.19,1581223.0,3.0
16,KY,Kentucky,22.00,2294993.0,4.0
17,LA,Louisiana,31.17,2223595.0,4.0
18,ME,Maine,30.97,955897.0,1.0
19,MD,Maryland,20.14,3157395.0,4.0
20,MA,Massachusetts,12.17,2966674.0,6.0
21,MI,Michigan,31.53,5090187.0,5.0
22,MN,Minnesota,27.74,2740065.0,2.0
23,MS,Mississippi,35.73,1471995.0,2.0
24,MO,Missouri***,35.35,3564834.0,6.0
25,MT,Montana,55.80,693560.0,1.0
26,NE,Nebraska,13.83,1041313.0,2.0
27,NV,Nevada,50.47,1608842.0,2.0
28,NH,New Hampshire,29.45,849003.0,1.0
29,NJ,New Jersey,17.47,3418179.0,3.0
30,NM,New Mexico,47.38,1228404.0,1.0
31,NY,New York,21.07,7135025.0,15.0
32,NC,North Carolina,30.46,5154427.0,4.0
33,ND,North Dakota**,37.85,385726.0,1.0
34,OH,Ohio,28.55,6490513.0,5.0
35,OK,Oklahoma,38.39,2274128.0,2.0
36,OR,Oregon,43.46,2392865.0,3.0
37,PA,Pennsylvania,30.25,7153473.0,10.0
38,RI,Rhode Island,23.09,554293.0,1.0
39,SC,South Carolina,32.63,2780053.0,2.0
40,SD,South Dakota,35.31,495659.0,3.0
41,TN,Tennessee,35.18,3502153.0,5.0
42,TX,Texas,30.20,11275313.0,12.0
43,UT,Utah,43.85,1049061.0,1.0
44,VT,Vermont,26.78,373441.0,1.0
45,VA,Virginia,25.86,5212872.0,3.0
46,WA,Washington,36.84,4261915.0,6.0
47,WV,West Virginia,39.42,1171915.0,4.0
48,WI,Wisconsin,32.92,3046537.0,3.0
49,WY,Wyoming,47.04,367740.0,2.0

In [18]:
for col in new_df.columns:
    new_df[col] = new_df[col].astype(str)

In [19]:
new_df.columns

Index(['st_code', 'statelist', 'vet_suicideratelist', 'vetpopulationlist',
       'vha centerslist'],
      dtype='object')

In [20]:
scl = [[0.0, 'rgb(204, 255, 102)'],[0.4, 'rgb(179, 255, 26)'],\
            [0.6, 'rgb(136, 204, 0)'],[0.8, 'rgb(85, 128, 0)'],[1.0, 'rgb(0, 128, 0)']]
#[0.2, 'rgb(102, 255, 102)'],

In [21]:
new_df['text'] = new_df['statelist'] + ':' + new_df['st_code'] + '<br>' +\
     'Veterans population ' + new_df['vetpopulationlist'] + '<br>' +\
     'Suiciderate ' + new_df['vet_suicideratelist'] + '<br>' + 'VHA Count ' + new_df['vha centerslist']

In [22]:
data = [dict(
        type = 'choropleth',
        colorscale = scl,
        autocolorscale = False,
        locations = new_df['st_code'],
        z= new_df['vet_suicideratelist'],
        locationmode = 'USA-states',
        text = new_df['text'],
        marker = dict(
            line = dict(
                color = 'rgb(51,51,51)',
                width = 2
            )),
        colorbar = dict(
                title = "Veteran Suicide <br>State Comparison",
                titleside = 'left',
                tickmode = 'array',
                tickvals = [55,35,15],
                ticktext = ['High','Medium','Less'],
                ticks = 'outside'
                )
            )]

In [23]:
layout = dict(
        title = 'Veteran Suicide State wise comparison',
        geo = dict(
            scope = 'usa',
            projection=dict(type = 'albers usa'),
            showlakes = True,
            lakecolor = 'rgb(0, 138, 230)'),
            )

In [24]:
fig = dict(data= data, layout = layout)
choromap = go.Figure(data = data,layout = layout)
plotly.offline.plot(choromap)

'file://C:\\Users\\neelaJ\\Downloads\\project\\Projectgitfiles\\veteranvha\\temp-plot.html'